body {
  background-color: black;
}

h1 {
  color: white;
  font-family: verdana;
  font-size: 300%;
}
p {
  color: red;
  font-family: courier;
  font-size: 160%;
}

.searchBar{
    position: absolute;
    left: 40%;
}
form{
  color: white;
}

.searchButton{
    position: absolute;
    left: 55%;
}
.panel {
    position: absolute;
    left: 40%;
}
.imageRight {
    position: absolute;
    right: 20%;
}
table{
        border-collapse: collapse;
        width: 100%;
      }
      
      th, td {
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even){background-color: #f2f2f2}
      
      th {
        background-color: silver;
        color: white;
      }
      
